.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 192, 180);
}